a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.active {
  color: hsl(310, 100%, 50%);
  text-decoration: underline;
}
