<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (ngSubmit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        placeholder="Post title"
        formControlName="title"
      />
      <mat-error *ngIf="form.get('title').invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        rows="6"
        formControlName="content"
        placeholder="Post content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>
    <div>
      <button
        mat-flat-button
        type="button"
        color="accent"
        (click)="filePicker.click()"
      >
        Add Image
      </button>
      <input type="file" #filePicker (change)="onImagePicked($event)" />
    </div>
    <hr />
    <button mat-flat-button color="accent">Save Post</button>
  </form>
</mat-card>
