<mat-accordion *ngIf="postsArray.length > 0">
  <mat-expansion-panel hideToggle *ngFor="let post of postsArray">
    <mat-expansion-panel-header>
      <mat-panel-title> {{ post.title }} </mat-panel-title>
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <a [routerLink]="['/edit', post.id]" mat-button color="primary">Edit</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="postsArray.length === 0">
  No posts added yet
</p>
